 // Colors
 $White: #F4F4F6;
 $Dark-Green: #162521;
 $Gray: #111;
 $Dark-Gray: #293636;

 $Blue-Bell: #9B9ECE;
 $Medium-Slate-Blue: #6665DD;
 $Blue-RYB: #473BF0;
 $Rich-Black: #000500;
 
 $main-spacing: 10px;